/* overlay */
.cb_overlay--bottom-sheet {
	z-index: 81;
	width: 120%;
	height: 120vh;
	background: rgba(34, 34, 34, 0.30);
	backdrop-filter: blur(4px);
	position: fixed;
	bottom: 0;
}
/* bottom sheet */
.cb--bottom-sheet--linear {
	z-index: 82;
	position: fixed;
	bottom: 0;
	display: flex;
	width: 100vw;
	height: auto;
	max-height: 90vh;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 24px 24px 0px 0px;
	border-top: 1px solid var(--neutral-lighter, #C5B29B);
	border-right: 1px solid var(--neutral-lighter, #C5B29B);
	border-left: 1px solid var(--neutral-lighter, #C5B29B);
	background: var(--neutral-bg, #EDE7E3);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}
/* menu mobile */
#cb_bottom-sheet--block-content_menu-mobile {
	max-height: 90vh;
}
.cb--bottom-sheet--linear .row--bottom-sheet--header {
	display: flex;
	padding: 10% 5% 10% 10%;
	align-items: center;
	gap: 24px;
	align-self: stretch;
}
.cb--bottom-sheet--linear .row--bottom-sheet--header .data-hotjar-analytics {
	display: flex;
	align-items: center;
	align-content: center;
	gap: 4px;
	flex: 1 0 0;
	align-self: stretch;
	flex-wrap: wrap;
}
.cb--bottom-sheet--linear .row--bottom-sheet--header .close-modal {
	display: flex;
	padding: 8px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 80px;
	background: var(--red-feedback-error, #D9484D);
	cursor: pointer;
}
.cb--bottom-sheet--linear .logo-menu-mobile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
	padding: 0 10% 64px 10%;
}
.cb--bottom-sheet--linear .logo-menu-mobile svg {
	height: 96px;
	width: auto;
}
.cb--bottom-sheet--linear .logo-menu-mobile svg path,
.cb--bottom-sheet--linear .logo-menu-mobile svg rect {
	fill: var(--neutral-medium, #64574F);;
}
.cb--bottom-sheet--linear .menu-option {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	align-self: stretch;
	padding: 0 10%;
}
.cb--bottom-sheet--linear .menu-option .button-menu-mobile-links {
	background: none;
	border: none;

}
.cb--bottom-sheet--linear .menu-option .item-list {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
}
.cb--bottom-sheet--linear .menu-option .item-list .heading-4--subtitle--medium {
	color: var(--neutral-lighter, #C5B29B);
	text-align: center;
	width: 32px;
	height: 32px;
}
.cb--bottom-sheet--linear .menu-option .item-list .heading-4--bold {
	flex: 1 0 0;
	align-self: stretch;
	color: var(--neutral-medium, #64574F);
}
.cb--bottom-sheet--linear .group-icons {
	display: flex;
	padding: 10% 10% 10% calc(10% + 8px);
	align-items: center;
	gap: 16px;
	align-self: stretch;
}
.cb--bottom-sheet--linear .group-icons .cb_btn--medium--secondary {
    min-height: 32px;
    max-height: 32px;
    background: var(--neutral-bg, #EDE7E3);
    border-color: var(--orange-brand-primary, #E07B39);
    padding: 4px 8px;
    box-shadow: none;
}
.cb--bottom-sheet--linear .group-icons .cb_btn--medium--secondary:hover {
    background: var(--neutral-dark, #3D2E27);
    box-shadow: none;
 }
.cb--bottom-sheet--linear .group-icons .cb_btn--medium--secondary svg {
    width: 20px;
}
.cb--bottom-sheet--linear .group-icons .cb_btn--medium--secondary svg path {
    fill: var(--orange-brand-primary, #E07B39);
}
.cb--bottom-sheet--linear .col {
	display: flex;
	margin: 0 6% 5% 10%;
	padding-right: 24px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	flex-grow: 1;
	overflow-y: auto;
	max-height: calc(100% - 64px);
}
/* image to validade the choice */
.cb--bottom-sheet--linear .col .row-image {
	display: flex;
	padding-bottom: 5%;
	align-items: flex-start;
	align-self: stretch;
}
.cb--bottom-sheet--linear .col .row-image .image-validate-choice {
	display: flex;
	width: 160px;
	height: 160px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.cb--bottom-sheet--linear .col .row-image .image-validate-choice img {
	width: 100%;
	height: auto;
}
/* buttons */
.cb--bottom-sheet--linear .col .row-btn {
	display: flex;
	padding-top: 10%;
	padding-right: 5%;
	align-items: flex-start;
	gap: 12px;
	align-self: stretch;
}
/* popup para solicitar acesso aos arquivos */
#cb_bottom-sheet--block-content .col .row-btn {
	padding-top: 16px;
}

.cb--bottom-sheet--linear .col .row-btn button,
.cb--bottom-sheet--linear .col .row-btn a {
	width: 100%;
}
/* additional information */
.cb--bottom-sheet--linear .col .additional-information {
	display: flex;
	padding: 24px 5% 0px 0px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
}
.cb--bottom-sheet--linear .col .additional-information .body-small--regular,
.cb--bottom-sheet--linear .col .additional-information .body-small--bold {
	align-self: stretch;
	text-align: left;
	color: var(--neutral-medium, #64574F);
}
.cb--bottom-sheet--linear .col .body-small--regular,
.cb--bottom-sheet--linear .col .body-small--bold {
	align-self: stretch;
	text-align: center;
	color: var(--neutral-medium, #64574F);
}
.cb--bottom-sheet--linear .col .cb--bottom-sheet--intro {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10%;
	align-self: stretch;
}
.cb--bottom-sheet--linear .col .cb--bottom-sheet--intro .content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
}
.cb--bottom-sheet--linear .col .cb--bottom-sheet--intro .content .title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
}
.cb--bottom-sheet--linear .col .cb--bottom-sheet--intro .content .title svg {
	width: 32px;
	height: 32px;
}
.cb--bottom-sheet--linear .col .cb--bottom-sheet--intro .content .title .heading-4--bold,
.cb--bottom-sheet--linear .col .cb--bottom-sheet--intro .content .title .heading-6--subtitle--medium {
	align-self: stretch;
	color: var(--neutral-dark, #3D2E27);
}
.cb--bottom-sheet--linear .col .cb--bottom-sheet--intro .content .paragraph {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
	padding: 0 5% 0 0; 
}
.cb--bottom-sheet--linear .col .cb--bottom-sheet--intro .content .paragraph .body-regular--regular,
.cb--bottom-sheet--linear .col .cb--bottom-sheet--intro .content .paragraph .label-regular--regular {
	flex: 1 0 0;
	color: var(--neutral-medium, #64574F);
}
.cb--bottom-sheet--linear .col .image {
	display: flex;
	width: 100%;
	height: auto;
	padding: 10% 0px;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	align-self: stretch;
}
.cb--bottom-sheet--linear .col .image img {
	width: 80%;
	height: auto;
	mix-blend-mode: multiply;
}
.cb--bottom-sheet--linear .col .image .cb_mockup--clube-ap-image--bottom-sheet {
	mix-blend-mode: normal;
}
@media (min-width: 1024px) and (max-width: 1599px) {
	.cb--bottom-sheet--linear {
		max-height: 80vh;
		max-width: 90vw;
		left: calc(10vw / 2);
		bottom: 10vh;
		border-radius: 24px;
	}
	.cb--bottom-sheet--linear .row--bottom-sheet--header {
		padding: 5% 5% 5% 10%;
	}
	.cb--bottom-sheet--linear .col .row-btn a {
		width: auto;
		min-width: 200px;
	}
	.cb--bottom-sheet--linear .col .row-image .image-validate-choice {
		width: 240px;
		height: 240px;
	}
	.cb--bottom-sheet--linear .col .image .matriz-csd-post-it {
	width: 50%;
	height: auto;
	mix-blend-mode: multiply;
	}
}

@media (min-width: 1600px) {
	.cb--bottom-sheet--linear {
		max-height: 80vh;
		max-width: 70vw;
		left: calc(30vw / 2);
		bottom: 10vh;
		border-radius: 24px;
	}
	.cb--bottom-sheet--linear .row--bottom-sheet--header {
		padding: 5% 5% 5% 10%;
	}
	.cb--bottom-sheet--linear .col .row-btn a {
		width: auto;
		min-width: 200px;
	}
	.cb--bottom-sheet--linear .col .row-image .image-validate-choice {
		width: 240px;
		height: 240px;
	}
	.cb--bottom-sheet--linear .col .image .matriz-csd-post-it {
	width: 50%;
	height: auto;
	mix-blend-mode: multiply;
	}
}
