.cb_carousel {
	display: flex;
	padding: 0px 5%;
	align-items: center;
	gap: 16px;
	align-self: stretch;
	z-index: 10;
}
.cb_carousel .carousel--arrow-left,
.cb_carousel .carousel--arrow-right {
	max-width: 20px;
	max-height: 20px;
	min-height: 20px;
	min-width: 20px;
    border-radius: 999px;
    padding: 8px 8px;
    background: var(--neutral-bg, #EDE7E3);
}
.cb_carousel .carousel--arrow-left:hover,
.cb_carousel .carousel--arrow-right:hover {
    background: var(--neutral-gray, #F8F5F2);
}
.cb_carousel .carousel--arrow-left svg,
.cb_carousel .carousel--arrow-right svg {
    width: 24px;
}
.cb_carousel .carousel--arrow-left svg path,
.cb_carousel .carousel--arrow-right svg path {
    fill: var(--blue-brand-sedondary, #3A8DFF);
}
.cb_carousel .cb_carousel-card {
	display: flex;
	overflow-x: auto;
	padding: 16px 4px;
	align-items: flex-start;
	gap: 16px;
	flex: 1 0 0;
	scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.cb_carousel .cb_carousel-card::-webkit-scrollbar {
    display: none;
}

.cb_carousel .cb_carousel-card.dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

@media (min-width: 1600px) {
	.cb_carousel {
		padding: 0px 16%;
	}
	.carousel-no-scroll {
		padding: 0px 20%;
	}
    /* margem carrosseis página de projeto */
    #cb_heatmap .cb_carousel-card,
    #cb_search .cb_carousel-card,
    #cb_benchmarking .cb_carousel-card,
    #cb_results-content .cb_carousel-card,
    #cb_FAQ-content .faq-list {
        margin: 5% 0;
    }
    #cb_block-contact {
        padding: 0 0 5% 0;
    }
}
@media (min-width: 1024px) and (max-width: 1599px) {
	.carousel-no-scroll {
		padding: 0px 10%;
	}
    /* margem carrosseis página de projeto */
    #cb_heatmap .cb_carousel-card,
    #cb_search .cb_carousel-card,
    #cb_benchmarking .cb_carousel-card,
    #cb_results-content .cb_carousel-card,
    #cb_FAQ-content .faq-list {
        margin: 5% 0;
    }
    #cb_block-contact {
        padding: 0 0 5% 0;
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
	.cb_carousel {
        padding: 0;
        margin: 0;
    }
	.cb_carousel .carousel--arrow-left,
	.cb_carousel .carousel--arrow-right{
    	display: none;
    }
    .cb_carousel .cb_carousel-card {
    	gap: 24px;
    }
    .cb_carousel .cb_carousel-card .cb_heatmap-card:first-child,
    .cb_carousel .cb_carousel-card .cb_matrizCSD-card:first-child,
    .cb_carousel .cb_carousel-card .cb_bench-card:first-child,
    .cb_carousel .cb_carousel-card .cb_card-data--success:first-child,
    .cb_carousel .cb_carousel-card .cb_card-project-preview--resposive-mobile:first-child,
    .cb_carousel .cb_carousel-card .selector-button:first-child,
    .cb_carousel .cb_carousel-card .selector-button-work:first-child,
    .cb_carousel .cb_carousel-card .cb_course-and-graduation--card:first-child {
    	margin-left: 10%;
    }
    .cb_carousel .cb_carousel-card .cb_heatmap-card:last-child,
    .cb_carousel .cb_carousel-card .cb_matrizCSD-card:last-child,
    .cb_carousel .cb_carousel-card .cb_bench-card:last-child,
    .cb_carousel .cb_carousel-card .cb_card-data--success:last-child,
    .cb_carousel .cb_carousel-card .cb_card-project-preview--resposive-mobile:last-child,
    .cb_carousel .cb_carousel-card .selector-button:last-child,
    .cb_carousel .cb_carousel-card .selector-button-work:last-child,,
    .cb_carousel .cb_carousel-card .cb_course-and-graduation--card:last-child {
    	margin-right: 10%;
    }
}

@media (max-width: 768px) {
    .cb_carousel {
        padding: 0;
        margin: 0;
    }
    .cb_carousel .carousel--arrow-left,
	.cb_carousel .carousel--arrow-right{
    	display: none;
    }
    .cb_carousel .cb_carousel-card {
        gap: 16px;
    }
    /* margem carrosseis página de projeto */
    #cb_heatmap .cb_carousel-card,
    #cb_search .cb_carousel-card,
    #cb_benchmarking .cb_carousel-card,
    #cb_results-content .cb_carousel-card,
    #cb_FAQ-content .faq-list {
        margin: 10% 0;
    }
    #cb_block-contact {
        padding: 0 0 5% 0;
    }

    .cb_carousel .cb_carousel-card .cb_heatmap-card:first-child,
    .cb_carousel .cb_carousel-card .cb_matrizCSD-card:first-child,
    .cb_carousel .cb_carousel-card .cb_bench-card:first-child,
    .cb_carousel .cb_carousel-card .cb_card-data--success:first-child,
    .cb_carousel .cb_carousel-card .cb_card-project-preview--resposive-mobile:first-child,
    .cb_carousel .cb_carousel-card .selector-button:first-child,
    .cb_carousel .cb_carousel-card .selector-button-work:first-child,
    .cb_carousel .cb_carousel-card .cb_course-and-graduation--card:first-child {
    	margin-left: 10%;
    }
    .cb_carousel .cb_carousel-card .cb_heatmap-card:last-child,
    .cb_carousel .cb_carousel-card .cb_matrizCSD-card:last-child,
    .cb_carousel .cb_carousel-card .cb_bench-card:last-child,
    .cb_carousel .cb_carousel-card .cb_card-data--success:last-child,
    .cb_carousel .cb_carousel-card .cb_card-project-preview--resposive-mobile:last-child,
    .cb_carousel .cb_carousel-card .selector-button:last-child,
    .cb_carousel .cb_carousel-card .selector-button-work:last-child,
    .cb_carousel .cb_carousel-card .cb_course-and-graduation--card:last-child {
    	margin-right: 10%;
    }
}