/* .----------------.  .----------------.  .----------------.  .----------------.  .----------------.  .----------------.
| .--------------. || .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
| | ____    ____ | || |     ____     | || |   ______     | || |     _____    | || |   _____      | || |  _________   | |
| ||_   \  /   _|| || |   .'    `.   | || |  |_   _ \    | || |    |_   _|   | || |  |_   _|     | || | |_   ___  |  | |
| |  |   \/   |  | || |  /  .--.  \  | || |    | |_) |   | || |      | |     | || |    | |       | || |   | |_  \_|  | |
| |  | |\  /| |  | || |  | |    | |  | || |    |  __'.   | || |      | |     | || |    | |   _   | || |   |  _|  _   | |
| | _| |_\/_| |_ | || |  \  `--'  /  | || |   _| |__) |  | || |     _| |_    | || |   _| |__/ |  | || |  _| |___/ |  | |
| ||_____||_____|| || |   `.____.'   | || |  |_______/   | || |    |_____|   | || |  |________|  | || | |_________|  | |
| |              | || |              | || |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'  '----------------'  '----------------'  '----------------'*/
 
@media (max-width: 768px) {
  
/* header menu */
  .header-menu {
    display: none;
  }

/* bottom menu */
  .cb_bottom-menu {
    z-index: 80;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--neutral-gray, #F8F5F2);
    position: fixed;
    bottom: -2px;
  }

  /* button back to top */
  #cb_back-to-top {
    bottom: 12%;
    right: 3%;
  }

/* banner first fold */
  .cb--content--first-fold {
    display: flex;
    width: 100%;
    height: calc(100vh - 68px);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--gradiente-n-1);
  }
  .cb--content--first-fold .banner--first-fold {
    position: absolute;
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
    opacity: 10%;
  }
  .cb--content--first-fold .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
  }
  .cb--content--first-fold .content .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    z-index: 2;
    padding: 30% 10%;
  }
  .cb--content--first-fold .content .description .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }
  .cb--content--first-fold .content .description .subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
  }
  .cb--content--first-fold .content .description .title .heading-3--bold {
    align-self: stretch;
    color: var(--neutral-dark, #3D2E27);
  }
  .cb--content--first-fold .content .description .subtitle .heading-6--subtitle--medium {
    align-self: stretch;
    color: var(--neutral-medium, #64574F);
  }

  /* content block*/
  .cb--content {
    display: flex;
    width: 100%;
    padding: 10% 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .cb--content .cb--block-intro {
    display: flex;
    padding: 20% 10% 0 10%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
  .cb--content .cb--block-intro .cb--block-tag-date {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
  }
  .cb--content .cb--block-intro .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  .cb--content .cb--block-intro .content .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .cb--content .cb--block-intro .content .title .heading-3--bold {
    color: var(--neutral-dark, #3D2E27);
    align-self: stretch;
    font-size: 28px;
  }
  .cb--content .cb--block-intro .content .title .heading-5--subtitle--medium {
    color: var(--neutral-medium, #64574F);
    align-self: stretch;
    font-size: 16px;
  }
  .cb--content .cb--block-intro .content .paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .cb--content .cb--block-intro .content .paragraph .body-regular--regular {
    align-self: stretch;
    color: var(--neutral-medium, #64574F);
  }


  /* pag home styles */
  #cb_academic-graduation {
    padding: 10% 0;
  }
  #cb_work-experiences {
    padding: 5% 0 20% 0;
    background: var(--neutral-gray, #F8F5F2);
  }
  #cb_grid-card-posts {
    padding: 5% 0;
  }
  /* contact me */
  #cb_block-contact .cb--block-intro {
    display: flex;
    padding: 5% 10% 10% 10%;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
  }
  #cb_block-contact .cb--block-intro .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  #cb_block-contact .cb--block-intro .content .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  #cb_block-contact .cb--block-intro .content .list-contact {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
  #cb_block-contact .cb--block-intro .content .list-contact .contact {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  #cb_block-contact .cb--block-intro .content .list-contact .contact svg path,
  #cb_block-contact .cb--block-intro .content .list-contact .contact .heading-6--subtitle--medium {
    fill: var(--orange-brand-primary, #E07B39);
    color: var(--orange-brand-primary, #E07B39);
  }
  #cb_block-contact .cb--block-intro .content .list-contact .contact .arrow-link {
    padding-left: 8px;
  }
  #cb_block-contact .cb--block-intro .content .list-contact .contact .arrow-link path,
  #cb_block-contact .cb--block-intro .content .list-contact .contact .arrow-link rect {
    fill: var(--neutral-lighter, #C5B29B);
  }
  #cb_block-contact .cb--block-intro .contact-me--image-bg {
    width: 220px;
    height: auto;
    aspect-ratio: 79 / 75;
    position: absolute;
    right: -2%;
    margin-bottom: -100px;
  }

  /* Benchmarking */
  #cb_benchmarking {
    background-color: var(--neutral-medium, #64574F);
  }
  #cb_benchmarking .cb--block-intro .title .heading-3--bold,
  #cb_benchmarking .cb--block-intro .title .heading-5--subtitle--medium {
    color: var(--neutral-bg, #EDE7E3);
  }
  #cb_benchmarking .cb--block-intro .paragraph .body-regular--regular,
  #cb_benchmarking .cb--block-intro .paragraph .heading-5--subtitle--medium {
    color: var(--neutral-bg, #EDE7E3);
  }
  #cb_benchmarking .cb_carousel .cb_carousel-card {
    gap: 0px;
  }

  /* Project */
  #cb_project-content {
    background-image: url('../imgs/bg/texture/bg-pattern-grocery.svg');
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }
  #cb_project-content .cb--block-intro {
    padding: 5% 10% 0 10%;
  }
  #cb_project-content .cb--block-intro .cb--block-tag-date .cb_tag-info {
    background-color: var(--neutral-medium, #64574F);
  }
  #cb_project-content .cb--block-intro .cb--block-tag-date .cb_tag-info svg path {
    fill: var(--neutral-bg, #EDE7E3);
  }
  #cb_project-content .cb--block-intro .cb--block-tag-date .cb_tag-info .body-small--regular {
    color: var(--neutral-bg, #EDE7E3);
  }
  #cb_project-content .cb--block-intro .title .heading-3--bold,
  #cb_project-content .cb--block-intro .title .heading-5--subtitle--medium {
    color: var(--neutral-bg, #EDE7E3);
  }
  #cb_project-content .cb--block-intro .paragraph .body-regular--regular,
  #cb_project-content .cb--block-intro .paragraph .heading-5--subtitle--medium {
    color: var(--neutral-bg, #EDE7E3);
  } 
  #cb_project-content .cb--block-intro .row-btn {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    width: 100%;
  }
  #cb_project-content .cb--block-intro .row-btn #bottom-sheet-07,
  #cb_project-content .cb--block-intro .row-btn #bottom-sheet-08 {
    display: none;
  }
  #cb_project-content .cb--block-intro .row-btn .cb_btn--large--primary {
    width: 200px;
    z-index: 2;
  }
  .cb--content #revisao-apoio-home-site_projeto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 42px;
    align-self: stretch;
  }
  .cb--content #revisao-apoio-home-site_projeto img {
    width: 140%;
    margin-right: -16%;
  }


  /* image bg content - heatmap */
  #cb_heatmap {
    padding: 10% 0px 55% 0px;
  }

  .cb--content #revisao-apoio-home-site_heatmap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 42px;
    align-self: stretch;
  }
  .cb--content #revisao-apoio-home-site_heatmap #revisao-apoio-home-site_heatmap_01,
  .cb--content #revisao-apoio-home-site_heatmap #revisao-apoio-home-site_heatmap_02,
  .cb--content #revisao-apoio-home-site_heatmap #revisao-apoio-home-site_heatmap_03 {
    position: absolute;
    width: 100vw;
    transition: all 2s ease-out;
    will-change: transform, right, margin-bottom;
  }
  .cb--content #revisao-apoio-home-site_heatmap #revisao-apoio-home-site_heatmap_01 {
    z-index: 3;
  }
  .cb--content #revisao-apoio-home-site_heatmap #revisao-apoio-home-site_heatmap_02 {
    z-index: 2;
  }
  .cb--content #revisao-apoio-home-site_heatmap #revisao-apoio-home-site_heatmap_03 {
    z-index: 1;
  }

  /* image bg content - search */
  .cb--content #revisao-apoio-home-site_search #revisao-apoio-home-site_search-3,
  .cb--content #revisao-apoio-home-site_search #revisao-apoio-home-site_search-2,
  .cb--content #revisao-apoio-home-site_search #revisao-apoio-home-site_search-1,
  .cb--content #revisao-apoio-home-site_results #revisao-apoio-home-site_results-mockup-bg {
    display: none;
  }



  /* Results */
  #cb_results-content {
    background-color: var(--neutral-bg, #EDE7E3);
  }
  #cb_results-content .cb--block-intro .title .heading-3--bold,
  #cb_results-content .cb--block-intro .title .heading-5--subtitle--medium {
    color: var(--neutral-dark, #3D2E27);
  }
  #cb_results-content .cb--block-intro .paragraph .body-regular--regular,
  #cb_results-content .cb--block-intro .paragraph .heading-5--subtitle--medium {
    color: var(--neutral-medium, #64574F);
  }


  /* FAQ */
  /* intro */
  #cb_FAQ-content .cb--block-intro .content .title .heading-3--bold {
    color: var(--neutral-dark, #3D2E27);
  }
  #cb_FAQ-content .cb--block-intro .content .title .heading-5--subtitle--medium {
    color: var(--neutral-medium, #64574F);
  }
  /* list */
  #cb_FAQ-content .faq-list {
    display: flex;
    padding: 0px 10% 20% 10%;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }

  /* footer */
  .cb_footer {
    display: flex;
    padding: 15% 10% 10% 10%;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
    border-radius: 40px 40px 0px 0px;
    background: var(--neutral-black, #1F1712);
  }
  .cb_footer .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
  .cb_footer .row .col-image {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
  .cb_footer .row .col-image svg {
    width: auto;
    height: 56px;
  }
  .cb_footer .row .col {
    display: none;
  }
  .cb_footer .row .icons {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
  .cb_footer .row .icons .cb_btn--medium--secondary {
    min-height: 24px;
    max-height: 24px;
    background: var(--neutral-gray, #F8F5F2);
    border-color: var(--orange-support-300, #F4A76F);
    padding: 8px 8px;
    box-shadow: none;
  }
  .cb_footer .row .icons .cb_btn--medium--secondary:hover {
    background: var(--neutral-dark, #3D2E27);
    box-shadow: none;
  }
  .cb_footer .row .icons .cb_btn--medium--secondary svg {
    width: 20px;
  }
  .cb_footer .row .icons .cb_btn--medium--secondary svg path {
    fill: var(--orange-support-300, #F4A76F);
  }
  .cb_footer .row .icons .cb_btn--medium--secondary {
    background: var(--neutral-black, #1F1712);
    width: 24px;
    height: 24px;
  }
  .cb_footer .row-text-seo {
    display: flex;
    padding: 32px 0px 20% 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-top: 1px solid var(--neutral-dark, #3D2E27);
  }
  .cb_footer .row-text-seo .body-small--regular {
    color: var(--neutral-light, #97857B);
    text-align: center;
    align-self: stretch;
  }
}

